@property --scroll-position {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --scroll-position-delayed {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bg-rgb {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(149, 194, 202);
}

@font-face {
  font-family: "Redaction";
  src: url("/fonts/redaction/Redaction-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction";
  src: url("./../fonts/redaction/Redaction-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction";
  src: url("./../fonts/redaction/Redaction-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Redaction\10;
  src: url("./../fonts/redaction/Redaction_10-Regular.woff2") format("woff2");
  font-weight: 10;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Redaction\10;
  src: url("./../fonts/redaction/Redaction_10-Regular.2f53ef3f.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Redaction\10;
  src: url("./../fonts/redaction/Redaction_10-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Redaction\10;
  src: url("./../fonts/redaction/Redaction_10-Italic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Redaction\20;
  src: url("./../fonts/redaction/Redaction_20-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Redaction\20;
  src: url("./../fonts/redaction/Redaction_20-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Redaction\20;
  src: url("./../fonts/redaction/Redaction_20-Italic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Redaction\35;
  src: url("./../fonts/redaction/Redaction_35-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Redaction\35;
  src: url("./../fonts/redaction/Redaction_35-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Redaction\35;
  src: url("./../fonts/redaction/Redaction_35-Italic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Redaction\50;
  src: url("./../fonts/redaction/Redaction_50-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Redaction\50;
  src: url("./../fonts/redaction/Redaction_50-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Redaction\50;
  src: url("./../fonts/redaction/Redaction_50-Italic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Redaction\70;
  src: url("./../fonts/redaction/Redaction_70-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Redaction\70;
  src: url("./../fonts/redaction/Redaction_70-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Redaction\70;
  src: url("./../fonts/redaction/Redaction_70-Italic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Redaction\100;
  src: url("./../fonts/redaction/Redaction_100-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Redaction\100;
  src: url("./../fonts/redaction/Redaction_100-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Redaction\100;
  src: url("./../fonts/redaction/Redaction_100-Italic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Besley;
  src: url("./../fonts/besley/Besley-Medium.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Besley";
  src: url("./../fonts/besley/Besley-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Besley;
  src: url("./../fonts/besley/Besley-Medium.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Besley, "Times New Roman", serif;
}

:root {
  animation: adjust_position linear both;
  animation-timeline: scroll(root);
}

body {
  
  /* variables */

  /* sizings */
  --title-height: 8vw;
  --padding-bottom: 0.5rem;
  --text-padding-bottom: 10vw;
  --text-space: 5vw;
  --text-ch-spacing: calc(var(--padding) + (1.4ch * var(--count, 0)));
  --lgMin: 1024px;

  /* easings */
  --ease-OutQuint: cubic-bezier(0.22, 1, 0.36, 1);
  --ease-Quad: cubic-bezier(0.44, 0, 0.56, 1);

  /* grid / spacing related */
  --gap: 0.5rem;
  --padding: 1.5rem;
  --columns: 4;
  --column-width: calc(
    (100vw - (var(--padding) * 2) - (var(--gap) * (var(--columns) - 1))) /
      var(--columns)
  );

  /* TEXT */
  --spread: -0.02em;

  /* COLORS */

  --bg-rgb: rgb(149, 194, 202);

  /* if this ever receives support... */
  @supports (color: rgb(random(--test, 0, 255), 0, 0)) {
    --bg-rgb: rgb(
      random(--bg-r, 200, 255),
      random(--bg-g, 170, 240),
      random(--bg-b, 160, 225)
    );
  }
  --bg-oklch: oklch(
    calc(88.167% - (0.2 * var(--velocity-abs)))
      calc(0.15844 + (0.2 * var(--velocity-abs)))
      calc(144.116 + (80 * var(--velocity-abs)))
  );
  --bg-from: oklch(
    from var(--bg-rgb) calc(l - (0.2 * var(--velocity-abs)))
      calc(c + (0.2 * var(--velocity-abs))) calc(h + (80 * var(--velocity-abs)))
  );

  background-color: var(--bg-rgb);
  background-color: var(--bg-oklch);
  background-color: var(--bg-from);

  transition: --scroll-position-delayed 0.2s linear;
  --scroll-velocity: calc(
    var(--scroll-position) - var(--scroll-position-delayed)
  );
  --velocity-abs: max(
    var(--scroll-velocity),
    calc(var(--scroll-velocity) * -1)
  );

  display: grid;
  gap: var(--gap);
  grid-template-columns:
    calc(var(--padding) - var(--gap)) repeat(var(--columns), 1fr)
    calc(var(--padding) - var(--gap));

  background: var(--bg-oklch, var(--bg-rgb));
  @supports (background: oklch(from red l c h)) {
    background: var(--bg-from);
  }
  font-size: 20px;

  @media (min-width: var(--lgMin)) {
    --columns: 12;
  }

  @container scroll-state(scrollable: bottom) {
    header {
      background-color: orange;
      --bg-rgb: rgb(5, 5, 5);
    }
  }
  anchor-name: --mouse-follow;
}

body:hover::after {
  opacity: 1;
}
body > * {
  grid-column: 2 / -2;
  @media (min-width: var(--lgMin)) {
    grid-column: 2 / -3;
  }
}

/* body::before {
  content: "";
  position: fixed;
  top: 0vh;
  left: 0;
  height: 200vh;
  width: calc(var(--padding) - var(--gap));
  background: rgb(19, 13, 105);
  mix-blend-mode: multiply;
} */

/* cool idea */
/* body::after {
  content: "";
  position: absolute;
  position-anchor: --mouse-follow;
  left: anchor(left);
  right: anchor(right);
  top: anchor(top);
  bottom: anchor(bottom);
  border-block-start: 3px solid red;
  border-block-end: 3px solid red;

  background: black;

  position: absolute;

  pointer-events: none;
  z-index: -1;
  opacity: 0;
  transition:
    inset 300ms,
    opacity 0ms;
}
body > * > *:is(:hover, :focus-visible){
  anchor-name: --mouse-follow;
  color: white;
  transition: color 300ms;
} */

h1,
h2,
h3,
h4,
h5,
h6,
abbr,
p,
summary {
  mix-blend-mode: difference;
  color: white;
  isolation: isolate;
}

a {
  color: chartreuse;
  mix-blend-mode: difference;
}

header {
  height: 100%;
}

h1 {
  --improvement-duration: 0.75s;
  --improvement-delay: 0.15s;
  --improvement-total: calc(
    var(--improvement-duration) + var(--improvement-delay)
  );
  min-height: 10vw;
  font-size: clamp(26px, var(--title-height), var(--title-height));
  animation: text_improvement var(--improvement-duration)
    var(--improvement-delay) var(--ease-OutQuint) forwards;
  font-family: Redaction;
  font-style: italic;
  font-weight: 400;
  letter-spacing: var(--spread);
  text-transform: uppercase;
  transition: font-weight 2s ease;
  transition-delay: 5s;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }

  span {
    --span-duration: 5s;
    --span-delay: var(--improvement-total);
    --span-animation: var(--span-duration) var(--span-delay)
      var(--ease-OutQuint) infinite;
    &:nth-child(3) {
      position: relative;
      animation: cycle-original var(--span-animation);

      &::before {
        content: "we";
        position: absolute;
        left: 0%;
        top: 50%;
        transform: translate(0%, -50%);
        animation: cycle-second var(--span-animation);
        color: transparent;
      }

      &::after {
        content: "i";
        position: absolute;
        left: 0;
        top: 50%;
        animation: cycle-third var(--span-animation);
        transform: translate(0%, -50%);
        color: transparent;
      }
    }

    &:nth-child(4) {
      animation: adjust-to-cycle var(--span-animation);
      display: inline-block;
    }
  }

  &::after {
    content: "Color in motion";
    position: fixed;
    display: inline-block;
    top: 0.5rem;
    right: calc(var(--padding) / 2);
    font-family: Besley;
    font-style: normal;
    text-transform: lowercase;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 0;
    text-orientation: sideways;
    writing-mode: vertical-rl;
  }
}

/* CYCLE anim */
@keyframes cycle-original {
  0%,
  18% {
    color: white;
    user-select: auto;
  }
  19%,
  71% {
    user-select: none;
    color: transparent;
  }
  72%,
  100% {
    user-select: auto;
    color: white;
  }
}

@keyframes cycle-second {
  0%,
  18% {
    color: transparent;
  }
  19%,
  42% {
    color: white;
  }
  43%,
  71% {
    color: transparent;
  }
  72%,
  100% {
    color: transparent;
  }
}

@keyframes cycle-third {
  0%,
  18% {
    color: transparent;
  }
  19%,
  42% {
    color: transparent;
  }
  43%,
  71% {
    color: white;
  }
  72%,
  100% {
    color: transparent;
  }
}

@keyframes adjust-to-cycle {
  0%,
  18% {
    transform: translateX(0%);
  }
  19%,
  42% {
    transform: translateX(-0.9ch);
  }
  43%,
  71% {
    /* hacky fix for positioning */
    transform: translateX(calc(-0.44 * var(--title-height) * 4));
  }
  72%,
  100% {
    transform: translateX(0%);
  }
}

/* h1::after {
  content: "";
  border-block-start: 3px solid red;
  border-block-end: 3px solid red;


  background: 
    red;

  position: absolute;
  position-anchor: --pageTitle;

  left: anchor(left);
  right: anchor(right);
  top: anchor(top);
  bottom: anchor(bottom);

  pointer-events: none;
  z-index: -1;

  opacity: 0;
  transition: inset 300ms, opacity 700ms;
} */

/* h1 span:is(:hover, :focus-visible) {
  anchor-name: --pageTitle;
} */

abbr,
h2,
h3,
h4,
h5,
h6 {
  font-family: Redaction\100;
  @supports (animation-timeline: view()) {
    animation: text_improvement 0.75s var(--ease-OutQuint) both;
    animation-timeline: view();
    animation-range: entry 25% exit 75%;
  }
}

span {
  font-family: inherit;
}

#sessions {
  li {
    position: relative;

    & + li {
      margin-block-start: 1em;
    }

    a {
      font-size: clamp(1rem, 3vw, 2rem);
      position: sticky;
      display: inline-block;
      color: white;
      border: 2px solid chartreuse;
      line-height: 1;
      padding: 0.25em 0.5em;
      margin-bottom: 2rem;
      top: 2rem;
      mix-blend-mode: difference;
      z-index: 2;
    }

    img {
      pointer-events: none;
      user-select: none;
      display: block;
      max-width: 100%;
      height: auto;
      width: 20em;
      mix-blend-mode: exclusion;
      &::before {
        content: "";
      }
    }
  }
}

details::details-content,
details {
  content-visibility: visible;
}

summary {
  list-style: none;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

@keyframes adjust_position {
  to {
    --scroll-position: 1;
    --scroll-position-delayed: 1;
  }
}

@keyframes text_improvement {
  0% {
    font-family: Redaction\100;
  }
  16% {
    font-family: Redaction\70;
  }
  32% {
    font-family: Redaction\50;
  }
  48% {
    font-family: Redaction\35;
  }
  64% {
    font-family: Redaction\20;
  }
  80% {
    font-family: Redaction\10;
  }
  100% {
    font-family: Redaction;
  }
}

@keyframes title_scale {
  0%,
  20% {
    scale: 0.5;
  }

  93%,
  100% {
    scale: 1;
  }
}

::selection {
  color: black;
  background: var(--bg-from);
}

a::selection {
  color: black;
  background: var(--bg-from);
}
